.howItsWork{
    background-color: #1773C5;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        font-family: Poppins;
        font-weight: 400;
        font-size: xx-large;
        padding: 2%;
        color: white;
    }
    @media screen and (max-width: 500px){
        h3{
            font-size: 1.6rem;
            text-align: center;
            margin: 10% 0 0 0 ;
        
        }
    }
}