.resource{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        font-family: Poppins;
        font-weight: 400;
        font-size: xx-large;
        padding: 5%;
    }
    @media screen and (max-width: 500px){
        h3{
            font-size: 1.5rem;
            margin: 10% 0 0 0 ;
        }
    }
}


.resourcesBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 885px){
    .resourcesBox {
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .resourcesBox {
        flex-direction: column;
        width: 50%;
    }
}