header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: Inter;

    img{
        margin: 0 5%;
        width: 10%;
    }
}

nav{
    min-width: 60%;
    height: 100%;
    padding: 0 3%;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    li:nth-child(even){
        color: #00000025;
    }

    li{
        padding: 3%;
        list-style: none;

        &:nth-child(odd):hover{
            background-color: #3d86c625;
            cursor: pointer;
            border-radius: 10px;
        }
    }

    a{
        text-decoration: none;
        color: black;
    }
}