.heroSection{
    width: 95%;
    margin: auto;
    padding: 2% 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    scrollbar-width: none;

    div{
        width: 60%;
        padding: 0 2%;

        h1{
            font-family: Poppins;
            font-weight: 400;
            font-size: 3rem;
            padding: 1% 0;
        }

        span{
            color: #1773C5;
            font-weight: 600;

        }

        h2{
            font-family: Inter;
            font-weight: 500;
            font-size: medium;
            padding: 3% 0;
        }
    }

    img{
        transform: rotate(20deg);
        border-radius: 20px;
        width: 50%;
        border: 2px solid #3d86c625;
        padding: 1%;
        position: relative;
        top: 10vh;
        left: 3%;
    }
}
/*Querys HeroSection*/
@media screen and (max-width: 885px){
    .heroSection div h1{
        font-size: 2.4rem;
    }
    .heroSection img{
        width: 60%;
        top: 0;
    }
}
@media screen and (max-width: 800px){
    .heroSection div h1{
        font-size: 2rem;
    }
    .heroSection div h2{
        font-size: small;
    }
    .heroSection img{
        top: 1vh;
    }
}
@media screen and (max-width: 500px){
    .heroSection{
        flex-direction: column;
    }
    .heroSection div{
        padding: 5% 0;
        width: 100%;
    }
    .heroSection img{
        width: 80%;
        left: 15%;
    }
}