.Cta{
    width: 40%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h3{
        font-family: Poppins;
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        color: #1773C5;
    }

    p{
        font-family: Inter;
        font-size: medium;
        padding: 2%;
    }

    img{
        width: 40%;
        margin: 10%;
    }
}